extends ../master/panel/layout
block content
  .content-header: .container-fluid: .row.mb-2
    .col-sm-6: h1.m-0.text-dark Dashboard
    .col-sm-6: ol.breadcrumb.float-sm-right: li.breadcrumb-item: a(href="#") Dashboard

  .content: .container-fluid: .row
    .col-lg-6
      .card.card-primary.card-outline
        .card-header: h5.m-0 Card 1
        .card-body
          p.card-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, quibusdam impedit eius perferendis unde accusantium aut repellat sit! Mollitia, dolorum.
          //- a.btn.btn-primary(href="#") Go somewhere

    .col-lg-6
      .card.card-primary.card-outline
        .card-header: h5.m-0 Card 2
        .card-body
          p.card-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, quibusdam impedit eius perferendis unde accusantium aut repellat sit! Mollitia, dolorum.
          //- a.btn.btn-primary(href="#") Go somewhere
