<!doctype html>
<html lang="en">
<%- include('includes/head'); %>
<body>
  <%- include('includes/nav'); %>
  <div class="container mt-5">
    <h1 class="text-center">Not found!</h1>
    <img src="/img/404.png" class="img-fluid" alt="not found">
  </div>
  <%- include('includes/footer'); %>
</body>
</html>
