doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title AdminLTE 3 | Starter
    // Font Awesome Icons
    link(rel="stylesheet" href="panel/plugins/fontawesome-free/css/all.min.css")
    // Theme style
    link(rel="stylesheet" href="panel/dist/css/adminlte.min.css")
    // Google Font: Source Sans Pro
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet")
  body.hold-transition.sidebar-mini
    .wrapper
      // Navbar
      include includes/panel/topnav.pug
      include includes/panel/sidenav.pug

      .content-wrapper
        // Content Header (Page header)
        .content-header
          .container-fluid
            .row.mb-2
              .col-sm-6
                h1.m-0.text-dark Starter Page
              // /.col
              .col-sm-6
                ol.breadcrumb.float-sm-right
                  li.breadcrumb-item
                    a(href="#") Home
                  li.breadcrumb-item.active Starter Page
              // /.col
            // /.row
          // /.container-fluid
        // /.content-header
        // Main content
        .content
          .container-fluid
            .row
              .col-lg-6
                .card
                  .card-body
                    h5.card-title Card title
                    p.card-text
                      | Some quick example text to build on the card title and make up the bulk of the card's
                      | content.
                    a.card-link(href="#") Card link
                    a.card-link(href="#") Another link
                .card.card-primary.card-outline
                  .card-body
                    h5.card-title Card title
                    p.card-text
                      | Some quick example text to build on the card title and make up the bulk of the card's
                      | content.
                    a.card-link(href="#") Card link
                    a.card-link(href="#") Another link
                // /.card
              // /.col-md-6
              .col-lg-6
                .card
                  .card-header
                    h5.m-0 Featured
                  .card-body
                    h6.card-title Special title treatment
                    p.card-text With supporting text below as a natural lead-in to additional content.
                    a.btn.btn-primary(href="#") Go somewhere
                .card.card-primary.card-outline
                  .card-header
                    h5.m-0 Featured
                  .card-body
                    h6.card-title Special title treatment
                    p.card-text With supporting text below as a natural lead-in to additional content.
                    a.btn.btn-primary(href="#") Go somewhere
              // /.col-md-6
            // /.row
          // /.container-fluid
        // /.content
      // /.content-wrapper
      // Control Sidebar
      aside.control-sidebar.control-sidebar-dark
        // Control sidebar content goes here
        .p-3
          h5 Title
          p Sidebar content
      // /.control-sidebar
      // Main Footer
      footer.main-footer
        // To the right
        .float-right.d-none.d-sm-inline
          | Anything you want
        // Default to the left
        strong
          | Copyright © 2014-2019
          a(href="/") AdminLTE.io
          | .
        |  All rights reserved.
    // ./wrapper
    // REQUIRED SCRIPTS
    // jQuery
    script(src="panel/plugins/jquery/jquery.min.js")
    // Bootstrap 4
    script(src="panel/plugins/bootstrap/js/bootstrap.bundle.min.js")
    // AdminLTE App
    script(src="panel/dist/js/adminlte.min.js")
